@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap');
body{margin: 0;padding: 0;font-family: 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
a{text-decoration: none;}
a:focus{text-decoration: none;outline: none;}
a:hover{text-decoration: none;outline: none;}
input{outline: none;}
button{outline: none;}
ul{margin: 0;padding: 0;list-style: none;}
ol{margin: 0;padding: 0;}
.container{max-width: 1240px;}
/*Start Header Area Style*/
.header {
	background: #219197;
}
.logo {
	float: left;
}
.responsive-bar {
	text-align: right;
}
.logo a {
	font-size: 46px;
	font-family: 'Lemonada', cursive;
	font-weight: 900;
	color: #fff;
	border: 2px solid white;
	display: inline-block;
	border-radius: 50%;
	padding: 0px 17px;
	margin: 5px 0px;
}
.menu{text-align: right;}
.menu ul li{display: inline;}
.menu ul li a {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 0px;
	margin: 9px 16px;
	font-weight: 600;
	transition: all .4s ease-in-out;
}
.menu ul li a.active {
	color: #e3d8d8;
}
.menu ul li a:hover{color: #e3d8d8;}
.responsive-bar a {
	display: none;
}
.header {
	position: relative;
}
/*Stkey Menu Start*/
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: sticky 1s;
  -moz-animation: sticky 1s;
  -o-animation: sticky 1s;
  animation: sticky 1s;
  -webkit-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25); 
}

@-webkit-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
/*Stkey Menu End*/
.header-bottom-left-img{
	text-align: center;
}
.header-bottom-left-img img {
	border-radius: 50%;
	width: 370px;
}
.header-bottom {
	width: 100%;
	overflow: hidden;
	background: #4c6a84;
	padding: 90px 0px;
}
.header-bottom-right-text {
	margin-bottom: 14px;
	padding-top: 36px;
}
.header-bottom-right-text small {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	font-family: 'Lemonada', cursive;
}
.header-bottom-right-text h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 41px;
	margin-top: 10px;
	font-weight: 600;
	color: #fffb00;
}
.header-bottom-right-text p {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}
.header-bottom-right-btn ul li{display: inline;}
.header-bottom-right-btn ul li a {
	display: inline-block;
	padding: 8px 20px;
	background: red;
	margin: 20px 30px;
	margin-left: 0px;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
	transition: all .4s ease-in-out;
}
.header-bottom-right-btn ul li a:hover{background: #480f0f;}
.article.text-center {
	background: linear-gradient(118deg, #bf4b4b ,#5454ce, #91910d);
}
.article-top{}
.article-top h1 {
	font-family: 'Lemonada', cursive;
	font-size: 45px;
	color: white;
	font-weight: 700;
	position: relative;
}
.article-top h1::after {
	clear: both;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 116px;
	height: 2px;
	background: linear-gradient(118deg, #fff ,#bb0b0b, #fff);
	margin: 0 auto;
}
.article-bottom-single:hover {
	box-shadow: 0px 0px 58px #000;
}
.article-bottom-single {
	background: white;
	border-radius: 4px;
	padding: 10px;
	height: 295px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.article-bottom-single i {
	font-size: 55px;
	color: #110977;
	padding: 12px 0px;
	border-bottom: 2px solid #402727;
	width: 63%;
	margin-bottom: 11px;
}
.article-bottom-single h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #220606;
	margin-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
}
.article-bottom-single p {
	text-align: justify;
	font-size: 17px;
	color: #222;
	font-weight: 600;
}
.work-area-bottom-single-img img {
	width: 100%;
	height: 225px;
	transition: 2s all ease;
}
.works_area {
	background: #dcdddd;
}
.work-area-top h1 {
	font-family: 'Lemonada', cursive;
	font-size: 37px;
	margin-bottom: 30px;
	position: relative;
	color: #2a80cc;
	font-weight: 500;
	text-transform: capitalize;
}
.work-area-top h1::after {
	content: "";
	position: absolute;
	clear: both;
	display: block;
	width: 167px;
	height: 3px;
	background: linear-gradient(118deg, #6f0c02 ,#08e0f7, #550505);
}
.work-area-top h1 span {
	color: #620808;
	font-weight: 700;
}
.work-area-bottom-single {
	background: #fff;
	padding: 10px;
	border-radius: 7px;
}
.work-area-bottom-single-img a {
	width: 100%;
	display: block;
}
.work-area-bottom-single-img:hover.work-area-bottom-single-img img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(2);
	opacity: 0.9;
}
.work-area-bottom-single-img{
	overflow: hidden;
}
.work-area-bottom-single-content h3 a{
	font-size: 21px;
	text-transform: capitalize;
	margin: 10px 0px;
	font-weight: 600;
	color: #220303;
	transition: .4s all ease;
}
.work-area-bottom-single-content h3 a:hover {
	color: #119538;
}
.work-area-bottom-single-content p {
	font-size: 17px;
	margin: 10px 0px;
	color: #351a1a;
	font-weight: 600;
}
.work-area-bottom-single-content .use ul li {
	padding: 5px 7px;
	background: #2f1c1c;
	margin: 2px;
	display: inline-block;
	border-radius: 4px;
	line-height: 1;
	font-size: 14px;
	color: #fff;
}
.services {
	background: #0A192F;
	color: #fff;
}
.services-bottom-single ol {
	margin-left: 21px;
}
.services-bottom-single ol li {
	font-size: 19px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
}
.services-bottom-single .hed h3{
	font-size: 30px;
	border-bottom: 2px solid aliceblue;
	font-weight: 700;
	color: #00ffcf;
	padding-bottom: 10px;
	margin-bottom: 11px;
}
.next-area {
	background: linear-gradient(118deg, #20664cc7 ,#460404, #91910d);
	color: #fff;
}
.next-area-full h5 {
	font-size: 20px;
	font-family: 'Lemonada', cursive;
	margin-bottom: 18px;
	font-weight: 400;
	color: #0fff0fe6;
}
.next-area-full h2 {
	margin-bottom: 6px;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
}
.next-area-full p {
	margin-bottom: 40px !important;
	font-size: 18px;
	width: 64%;
	margin: 0 auto;
}
.next-area-full a {
	background: green;
	font-size: 20px;
	color: #fff;
	text-transform: capitalize;
	transition: .4s ease-in-out;
}
.next-area-full a:hover {
	color: #fff;
	background: #0d0;
}
.footer {
	background: #0A192F;
	color: #fff;
	padding: 19px 0px;
	overflow: hidden;
	box-shadow: 0px -20px 32px #55770c;
}
.footer-left p {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	padding-top: 6px;
	text-align: right;
}
.footer-left a {
	color: #c4cbe1;
}
.footer-left a:hover{
	color: #24d200;
}
.footer-social ul li{
	display: inline;
}
.footer-social ul li a {
	padding: 0px 3px;
	margin: 0px 8px;
	color: #fff;
	font-size: 23px;
	transition: .3s all ease-in-out;
}
.footer-social ul li a:hover{
	color: #0bfdfd;
}
/*Modal Area*/
.modal-contact-title {
	float: left;
}
.modal-contact-title h3 {
	font-size: 22px;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #310202;
	margin-top: 5px;
	margin-bottom: 10px;
}
.close-close span {
	font-size: 32px;
	color: red;
	margin-right: 4px;
}
.close-close:focus {outline: none;}
.contact-body form input[type="text"], .contact-body form input[type="email"] {
	width: 100%;
	margin: 7px 0px;
	padding: 10px;
	font-size: 16px;
	color: #333;
	font-weight: 600;
	border: 1px solid #a1afbb;
	border-radius: 3px;
}
.modal-contact-bod{
	background: #7ba606;
	padding: 11px;
}
.contact-body form input[type="submit"] {
	float: left;
	background: white;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 20px;
	color: #555;
	border-radius: 2px;
	transition: .2s ease-in-out;
}
.contact-body form input[type="submit"]:hover {
	background: #c8c2c2;
	color: #281414;
}
.contact-body form textarea {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #333;
	font-weight: 600;
	border: 1px solid #a1afbb;
	border-radius: 3px;
	margin-bottom: 9px;
}
/*About Page Style*/
.about {
	background: #ca9800;
}
.about-left-img {
	text-align: center;
	margin: 30px 0px;
}
.about-left-img img {
	border-radius: 50%;
	width: 255px;
}
.about-left-content {
	background: #0A192F;
	padding: 20px;
	border-radius: 5px;
}
.about-left-content h2 {
	color: #fff;
	text-transform: capitalize;
	font-family: 'Lemonada', cursive;
	font-weight: 900;
	position: relative;
	margin-bottom: 20px;
	font-size: 31px;
}
.about-left-content p {
	color: white;
	font-weight: 600;
	text-align: justify;
	line-height: 27px;
	font-size: 16px;
	margin-bottom: 20px;
}
.about-left-content .aap {
	background: white;
	text-transform: capitalize;
	padding: 2px 9px;
	font-weight: 900;
	color: black;
	border-radius: 3px;
}
.about-left-content h4 {
	font-size: 25px;
	color: #0000e1;
	font-family: 'Lemonada', cursive;
	font-weight: 700;
}
.about-left-content h1 {
	margin: 10px 0px;
	color: #ee0909;
	font-weight: 900;
	font-size: 39px;
}
.about-left-content h1 span{color: #fff;}
.about-flow {
	background: #0A192F;
	padding: 20px;
	border-radius: 5px;
}
.about-flow ul li{display: inline;}
.about-flow ul li a {
	padding: 4px 10px;
	background: white;
	margin: 0px 4px;
	color: red;
	font-size: 21px;
	border-radius: 3px;
	transition: .2s all ease-in-out;
	display: inline-block;
}
.about-flow ul li a:hover {
	color: #0958bd;
	transform: translateY(-5px);
}
.about-flow h4 {
	color: white;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 700;
	position: relative;
	font-size: 22px;
}
.about-flow h4::after {
	content: "";
	clear: both;
	display: block;
	position: absolute;
	width: 80px;
	height: 2px;
	background: white;
	top: 32px;
}
.about-skil {
	margin-top: 20px;
	background: #0A192F;
	padding: 20px;
	border-radius: 5px;
}
.about-skil h4 {
	color: white;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 700;
	position: relative;
	font-size: 22px;
}
.about-skil h4::after {
	content: "";
	clear: both;
	display: block;
	position: absolute;
	width: 80px;
	height: 2px;
	background: white;
	top: 32px;
}
.about-skil ul li {
	color: #400303;
	background: white;
	padding: 10px 18px;
	display: inline-block;
	margin: 7px 10px;
	border-radius: 3px;
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 700;
}
.about-singl {
	width: 48%;
	float: left;
	overflow: hidden;
	margin: 0% 1%;
}
/*Contact Page*/
.contact_us_top {
	background: #d7d8d9;
	width: 100%;
	overflow: hidden;
	margin-top: -2px;
}
.contact-us-top-single span {
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 50px;
	color: #844747;
}
.contact-us-top-single .title {
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 7px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.contact-us-top-single address {
	font-size: 16px;
	font-weight: 600;
	color: #444;
}
.contact-us-top-single a {
	color: #444;
	font-size: 17px;
	font-weight: 400;
}
.contact-us-top-single a:hover {
	color: #955050;
}
.contact_s_form h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 35px;
	padding-bottom: 3px;
	color: #797272;
	position: relative;
}
.contact_s_form h2::after {
	content: "";
	clear: both;
	position: absolute;
	width: 93px;
	height: 5px;
	background: #b31616;
	left: 0;
	bottom: 0;
}
.contact_s_form form input[type="text"], .contact_s_form form input[type="email"] {
	width: 100%;
	margin-bottom: 17px;
	padding: 15px;
	font-size: 14px;
	color: #555;
	font-weight: 300;
	border: 1px solid #caced0;
	border-radius: 3px;
}
.contact_s_form form input[type="text"]:focus {
	border: 1px solid #f47777;
}
.contact_s_form form textarea {
	width: 100%;
	margin-bottom: 17px;
	padding: 15px;
	font-size: 14px;
	color: #555;
	font-weight: 300;
	border: 1px solid #caced0;
	border-radius: 3px;
}
.contact_s_form form textarea:focus {
	border: 1px solid #f47777;
}
.contact_s_form form input[type="submit"] {
	border: none;
	width: auto;
	padding: 11px 33px;
	background: #c29958;
	color: #fff;
	border-radius: 1px;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}
.contact_s_form form input[type="submit"]:hover {
	background: black;
}
.contact_from_followers ul{
	text-align: center;
}
.contact_from_followers ul li{display: inline;}
.contact_from_followers ul li:nth-child(2) a {
	background: #326f08;
}
.contact_from_followers ul li:nth-child(6) a {
	background: #326f08;
}
.contact_from_followers ul li:nth-child(3) a {
	background: #326f08;
}
.contact_from_followers ul li:nth-child(7) a {
	background: #326f08;
}
.contact_from_followers ul li a {
	width: 49%;
	float: left;
	overflow: hidden;
	background: #181357;
	margin: .2%;
	padding: 29px;
	font-size: 50px;
	border-radius: 4px;
	color: #fff;
}
.contact_from_followers ul li a i{
	transition: .3s all ease-in-out;
	display: inline-block;
}
.contact_from_followers ul li a i:hover {
	transform: translateY(-14px);
	color: #d9c4c4;
}
/*Blog Page*/
.blog {
	max-width: 900px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.blog-post {
	background: #0a7e84;
}
.blog-title h2 {
	margin-bottom: 30px;
	color: #fff;
	font-weight: 900;
	font-size: 34px;
	position: relative;
	overflow: hidden;
	padding-bottom: 6px;
}
.blog-title h2::after {
	content: "";
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	width: 91px;
	height: 4px;
	background: white;
	display: block;
}
.single-blog-img img {
	width: 100%;
}
.single-blog-img a {
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	border: 2px solid green;
	border-radius: 6px;
}
.single-blog-img a::before {
	content: "";
	width: 0;
	height: 0;
	clear: both;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	overflow: hidden;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
}
.single-blog-img a:hover::before {
	width: 100%;
	height: 100%;
}
.single-blog {
	width: 100%;
	background: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
	padding: 10px;
}
.single-blog-content h1 a {
	font-size: 23px;
	color: black;
	font-weight: 700;
	padding: 10px 0px;
	display: inline-block;
}
.single-blog-content p {
	font-size: 17px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 17px;
}
.single-blog-content .red {
	color: #fff;
	background: #352217;
	padding: 5px 19px;
	margin-bottom: 11px;
	display: inline-block;
	font-size: 17px;
	border-radius: 2px;
}
.single-blog-content .red:hover {color: #f00;}
.single-blog-content h1 a:hover {color: #7b0808;}
.single-blog-pagination {
	background: #fff;
	text-align: center;
	padding: 14px 0px;
	border-radius: 4px;
}
.single-blog-pagination ul li{display: inline;}
.single-blog-pagination ul li a {
	padding: 4px 17px;
	background: #06466c;
	display: inline-block;
	font-size: 17px;
	color: #fff;
	border-radius: 1px;
	transition: all .3s ease-in-out;
}
.single-blog-pagination ul li a:hover {
	background: #ce2727;
}
.single-blog-pagination ul li a.active {
	background: #ce2727;
	cursor: not-allowed;
}
/*Work Gallery Area*/
.work-gallery {
	width: 100%;
	overflow: hidden;
	background: #194368;
}
.work-gallery-single img {
	width: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	height: 330px;
}
.work-gallery-single-full {
	position: relative;
	width: 100%;
	height: 100%;
}
.gallery-overly {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg,rgba(235,129,130,.7),rgba(230,160,160,.7),rgba(249, 184, 53, 0.7));
	opacity: 0;
}
.work-gallery-single-full:hover .gallery-overly{
	opacity: 1;
}
.gallery-overly a {
	font-size: 20px;
	background: #065e79;
	color: #fff;
	padding: 6px 12px;
	display: inline-block;
	border-radius: 4px;
}
.gallery-overly a:hover {
	background: #0dc60d;
}
.work-gallery-single {
	margin-bottom: 25px;
}
.load-more a {
	background: white;
	color: #333;
	padding: 5px 25px;
	font-weight: 700;
	border-radius: 3px;
	transition: all .3s ease-in-out;
	font-size: 15px;
	text-transform: uppercase;
}
.load-more{
	text-align: center;
	margin-top: 20px;
}
.load-more a:hover {
	background: #c8c2c2;
	color: #281414;
}
.work-gallery-full h2 {
	color: #fff;
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 30px;
	text-transform: capitalize;
	font-family: 'Lemonada', cursive;
	position: relative;
	margin-left: 10px;
}
.work-gallery-full h2:after {
	content: "";
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	width: 91px;
	height: 4px;
	background: white;
	display: block;
}
/*Single Page*/
.single_Post {
	animation: ;
	width: 100%;
	overflow: hidden;
	background: #1d466a;
}
.SINGLE_POST-full_IMg img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 30px;
}
.post-detail-title h2 {
	margin: 0;
	font-size: 27px;
	font-weight: 600;
	color: #7b4848;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}
.st--meta-st--info ul li {
	display: inline;
	font-size: 17px;
	color: #643232;
	padding: 10px 6px;
}
.st--meta-st--info ul li a {
	color: #643232;
}
.POst-detail-content {
	width: 100%;
	overflow: hidden;
	margin-top: 13px;
}
.POst-detail-content p {
	font-size: 18px;
	text-align: justify;
	color: #643232;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.Comments-Area h3 {
	font-size: 30px;
	text-transform: capitalize;
	position: relative;
	padding-left: 21px;
	font-weight: 700;
	color: #6f0505;
}
.Comments-Area h3::after {
	content: "";
	position: absolute;
	display: block;
	clear: both;
	width: 17px;
	height: 20px;
	background: #6f0505;
	left: 0;
	top: 9px;
}
.single_POst-Full-content {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
}
/*Comments*/
.comments_Holder {
  background: #d5d8db;
  padding: 12px;
}
.comments-list li {
  background: #fff;
  margin: 9px 0px;
  border-radius: 3px;
}
.comments-thumb {
  width: auto;
  float: left;
  padding-left: 3px;
}
.comments-thumb img {
  width: 60px;
}
.comments_Holder .comment-body {
  overflow: hidden;
  padding-left: 14px;
}
.comment-body h4 {
  margin-bottom: 0px !important;
}
.comment-body h4 a {
  color: #6c5d5d;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
}
.comment-body h4 a:hover{
  color: #201e1e;
}
.comment-content p {
  font-size: 15px;
  color: #222;
  margin-bottom: 4px;
}
.comment-body .comment-meta .post-meta li {
  display: inline;
  font-size: 15px;
  color: #444;
  margin-right: 10px;
}
.comment-body .comment-meta .post-meta li i {
  font-size: 14px;
  padding-right: 3px;
}
.comment-body .comment-meta .post-meta li a {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 3px;
}
.comment-body .comment-meta .post-meta li a:hover{
  color: #59cc24;
}
.comment-meta .post-meta {
  margin-bottom: 10px;
}
.comment-reply {
  margin-left: 50px;
  border-top: 2px solid #444;
  margin-right: 5px;
}
.form-area h3 {
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
  padding-left: 21px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}
.form-area h3::after {
  content: "";
  position: absolute;
  display: block;
  clear: both;
  width: 17px;
  height: 20px;
  background: #9d1b1b;
  left: 0;
  top: 9px;
}
.form-area input[type="text"], .form-area textarea, .form-area input[type="email"], .form-area input[type="url"] {
  width: 100%;
  margin-bottom: 17px;
  padding: 15px;
  font-size: 14px;
  color: #555;
  font-weight: 300;
  border: 1px solid #caced0;
  border-radius: 3px;
}
.form-area input[type="text"]:focus {
  border: 1px solid #f47777;
}
.form-area textarea:focus {
  border: 1px solid #f47777;
}
.form-area input[type="submit"] {
  border: none;
  width: auto;
  padding: 10px 25px;
  background: #c29958;
  color: #fff;
  border-radius: 1px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s ease-in-out;
}
.form-area input[type="submit"]:hover{
  background: black;
}
/*
	font-family: 'Lemonada', cursive;
    font-family: 'Montserrat', sans-serif;
*/